/**
 * ROFI Color theme
 * NAME: gruvbox-green-dark-center.rasi
 * DESCRIPTION: A centered prompt using official Gruvbox dark colors
 * ORIGINAL AUTHOR: Derek Taylor (DT)
 * MODIFIED BY: Claude
 */

* {
    /* Official Gruvbox Dark Colors */
    base00: #1d2021; /* Dark bg */
    base01: #3c3836;
    base02: #504945;
    base03: #665c54;
    base04: #bdae93;
    base05: #d5c4a1;
    base06: #ebdbb2;
    base07: #fbf1c7;
    base08: #fb4934; /* Red */
    base09: #fe8019; /* Orange */
    base0A: #fabd2f; /* Yellow */
    base0B: #b8bb26; /* Green */
    base0C: #8ec07c; /* Aqua */
    base0D: #83a598; /* Blue */
    base0E: #d3869b; /* Purple */
    base0F: #d65d0e; /* Brown */

    background-color:            @base00;
    border-color:               @base0B;
    text-color:                 @base06;
    font:                       "JetBrainsMono Nerd Font 11";
    prompt-font:                "JetBrainsMono Nerd Font Bold 11";
    prompt-background:          @base0B;
    prompt-foreground:          @base00;
    prompt-padding:             4px;
    alternate-normal-background: @base01;
    alternate-normal-foreground: @base06;
    selected-normal-background:  @base02;
    selected-normal-foreground:  @base0C;
    spacing:                     3;
}

#window {
    border:  2;
    padding: 5;
    background-color: @base00;
}

#mainbox {
    border:  0;
    padding: 0;
}

#message {
    border:       1px dash 0px 0px;
    padding:      1px;
}

#listview {
    fixed-height: 0;
    border:       2px solid 0px 0px;
    border-color: @base01;
    spacing:      2px;
    scrollbar:    true;
    padding:      2px 0px 0px;
}

#element {
    border:  0;
    padding: 1px;
}

#element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}

#element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}

#scrollbar {
    width:        4px;
    border:       0;
    handle-width: 4px;
    padding:      0;
    handle-color: @base0B;
}

#sidebar {
    border: 2px dash 0px 0px;
}

#button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}

#inputbar {
    spacing:    0;
    padding:    1px;
}

#case-indicator {
    spacing:    0;
}

#entry {
    padding: 4px 4px;
    expand: false;
    width: 10em;
    text-color: @base07;
}

#prompt {
    padding:          @prompt-padding;
    background-color: @prompt-background;
    text-color:       @prompt-foreground;
    font:             @prompt-font;
    border-radius:    2px;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}

element-icon {
    background-color: inherit;
    size:            1.0em;
    padding:         0 8px 0 0;
}